.fa {
    font-size: 1.5rem;
    }
  
    .navbar{
      background: black;
    }
  
    .navbar-brand{
      color: white;
    }
    .navbar-toggler{
      color: white;
    }
  
    .nav-link{
      color: white;
    }
  
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
  
    .page-footer{
      background: black;
    }
    
    .mb-1{
      color: rgb(255, 255, 255);
    }

    .top-buffer { 
      margin-top:50px;
      margin-bottom:50px;
    }

    .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}

    canvas {
      width: 100%;
      height: 100%;
      display: block;
    }
    
    div.chart-container {
      padding: 1px;
    }

    .collapsible {
      background-color: rgb(196, 148, 77);
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }
    
    .active, .collapsible:hover {
      background-color: #555;
    }
    
    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
    }

    .page-heading {
      background-image: linear-gradient(265deg,#04143a,#19398a);
      padding: 4.6rem 0;
      position: relative;
      z-index: 30;
  }

  .page-heading__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.page-heading__background-image {
  bottom: -68rem;
  left: -21.3rem;
  position: absolute;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 120rem;
}

.page-heading__content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  z-index: 10;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-style: italic;
  padding: 0 1.5rem;
}

.page-heading__title {
  font-weight: 900;
  position: relative;
  margin-right: auto;
  font-size: 3.2rem;
  color: #fff;
  z-index: 2;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}